html,
body {
  margin: 0px;
  height: 100%;
  background-color: #eaf6f6;
}
.container-fluid {
  padding: 0 30px;
  margin: 50px;
  background-color: white;
  line-height: 24px;
  height: 700px;
  max-width: 720px;
  font-family: "Roboto", sans-serif;
  box-shadow: 1px 1px 1px rgba(103, 102, 102, 0.247);
  border-radius: 1rem;
  color: #66808dc8;
  display: block;
}
h1 {
  font-size: 38px;
  font-weight: 900;

  margin-bottom: none;
}

small {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
  font-size: 13px;
}

footer {
  font-size: 12px;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
  position: relative;
  width: 750px;
  left: 70px;
  top: -30px;
}
a {
  text-decoration: none;
  color: #878787;
}
.header {
  margin-top: 40px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 30px;
  padding-top: 45px;
}
.compassBtn {
  font-size: 28px;
  border: none;
  background-color: white;
  position: relative;
  left: 10px;
  top: 13px;
}
.compass {
  color: #878787;
}

.search-bar {
  background: #f9f7fe;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
.search-button {
  color: white;
  background-color: #407088;
  width: 140px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 52px;
  position: relative;
  right: 15px;
}
.search-button:hover {
  background-color: #095175;
  color: white;
}
.weatherInfo {
  padding-top: 35px;
}
.sec-1 {
  padding-left: 40px;
}

#date {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  position: relative;
  left: 6px;
  bottom: 10px;
}

.weather-details {
  list-style: none;
  height: 150px;
  text-align: left;
  letter-spacing: 0.1px;
  line-height: 25px;
  padding: 0;
  position: relative;
  top: 45px;
  left: 10px;
}
.weather-details-container i {
  color: #66808dc8;
}
.temp-container {
  font-family: Cerebri-Sans, Helvetica, Arial, sans-serif;
  background: #fff;
  text-align: right;
  margin-top: 70px;
  margin-left: 10px;
  font-size: 80px;
  line-height: 1;
}
.weatherInfo img {
  position: relative;
  width: 35%;
}
.current-temp {
  font-size: 68px;
  font-weight: 600;
  line-height: 75px;
  position: relative;
  color: #66808dc8;
}

.units {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  color: #878787;
  position: relative;
  bottom: 27px;
  right: 8px;
}

.weather-icon-description {
  font-size: 15px;
  text-align: right;
  position: relative;
  left: 85px;
  bottom: 20px;
  width: 150px;
  margin: 0;
}
.main-description {
  font-size: 18px;
  line-height: 25px;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.foscastColumb {
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
}

.bottomHr {
  position: relative;
  top: 50px;
}
.noborder {
  border: none;
}

.weather-forecast {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;
  font-size: 17px;
  position: relative;
  top: 35px;
}
.weather-forecast-day {
  color: #a9a6bf;
}
.weather-forecast-temp-max {
  color: #66808d86;
}
.weather-forecast-temp-min {
  color: rgba(0, 0, 0, 0.195);
}
